<header class="main-header">

<nav>
  <div class="logo">
    <img src="https://media.eventhubs.com/static/images/eventhubslogo1.png" alt="logo">
  </div>
  <ul class="menu">
    <li><%= link_to "News", root_path, class: "news" %></li>
    <li><%= link_to "Rank", gamers_path, class: "rank" %></li>
    <li><%= link_to "Profil", gamers_path, class: "profil" %></li>
  </ul>
  <div class="nav-toggle">
    <div class="hamburger"></div>
  </div>
</nav>

</header>



<!-- test -->
