<div class="next">
  <h2>up next</h2>
  <div class="section section-top">
    <div class="article">
      <h3>title</h3>
      <img src="https://smashgg.imgix.net/images/tournament/48366/image-221f011846ea4c106baf74833d29b8f3.jpg?auto=compress,format" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/headerImages/image.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/par/image_900304602.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
  </div>
  <div class="section">
    <div class="article">
      <h3>title</h3>
      <img src="https://smashgg.imgix.net/images/tournament/48366/image-221f011846ea4c106baf74833d29b8f3.jpg?auto=compress,format" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/headerImages/image.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/par/image_900304602.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
  </div>
  <div class="section">
    <div class="article">
      <h3>title</h3>
      <img src="https://smashgg.imgix.net/images/tournament/48366/image-221f011846ea4c106baf74833d29b8f3.jpg?auto=compress,format" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/headerImages/image.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/par/image_900304602.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
  </div>
</div>
<!-- tournanament archives -->
<div class="past">
  <h2>past</h2>

  <div class="section">
    <div class="article">
      <h3>title</h3>
      <img src="https://smashgg.imgix.net/images/tournament/48366/image-221f011846ea4c106baf74833d29b8f3.jpg?auto=compress,format" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/headerImages/image.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/par/image_900304602.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
  </div>
  <div class="section">
    <div class="article">
      <h3>title</h3>
      <img src="https://smashgg.imgix.net/images/tournament/48366/image-221f011846ea4c106baf74833d29b8f3.jpg?auto=compress,format" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/headerImages/image.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/par/image_900304602.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
  </div>
  <div class="section">
    <div class="article">
      <h3>title</h3>
      <img src="https://smashgg.imgix.net/images/tournament/48366/image-221f011846ea4c106baf74833d29b8f3.jpg?auto=compress,format" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/headerImages/image.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/par/image_900304602.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
  </div>
  <div class="section">
    <div class="article">
      <h3>title</h3>
      <img src="https://smashgg.imgix.net/images/tournament/48366/image-221f011846ea4c106baf74833d29b8f3.jpg?auto=compress,format" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/headerImages/image.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/par/image_900304602.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
  </div>
  <div class="section">
    <div class="article">
      <h3>title</h3>
      <img src="https://smashgg.imgix.net/images/tournament/48366/image-221f011846ea4c106baf74833d29b8f3.jpg?auto=compress,format" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/headerImages/image.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
    <div class="article">
      <h3>title</h3>
      <img src="https://media.contentapi.ea.com/content/www-easports/en_US/madden-nfl/news/2018/young-kiv-wins-ea-sports-madden-nfl-18-bowl/_jcr_content/par/image_900304602.img.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a</p>
    </div>
</div>
</div>
