<div class="classement">
  <div class="classement-header">

  </div>

  <div class="classement-game">

    <div class="classement-cover">
      <h3><%= link_to "Classement", root_path %></h3>
      <img src="http://www.lepoint.fr/images/2018/04/18/14525391lpw-14526018-article-jpg_5174276.jpg" alt="">
      <div class="classement-players">
        <h2>Top 10</h2>
        <table>
          <tr>
            <th>Position</th>
            <th>@Name</th>
            <th>Note</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Geraldy</td>
            <td>9.9</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Thomas</td>
            <td>9.7</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Alison</td>
            <td>9.3</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Caro</td>
            <td>8.9</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Larry</td>
            <td>7.9</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Kevin</td>
            <td>6.7</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="classement-cover">
      <h3>Fifa 18</h3>
      <img src="https://media.contentapi.ea.com/content/dam/ea/easports/fifa/home/2017/june/5/homepage-share.jpg" alt="">
    </div>
    <div class="classement-cover">
      <h3>Tekken 7</h3>
      <img src="https://gameactuality.com/wp-content/uploads/2017/07/Tekken-7-05-HD.png" alt="">
    </div>
  </div>

</div>
<style media="screen">
  .classement{
    background: #EEE;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .classement .classement-header{
    padding-top: 350px;
    background: url("https://foot49.fff.fr/wp-content/uploads/sites/36/2017/11/classement_general.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .classement-game{
    background: #FFF;
  }
  .classement-game .classement-cover{
    width: 90%;
    padding: 5px;
    margin: auto;
    overflow: hidden;
  }
  .classement-game img{
    width: 100%;
  }
  .classement-players{
    background: rgba(31, 31, 81,1);
    color: #FFF;
  }
  .classement-players table{
    width: 100%;
  }
  table tr{
    background: #EEE;
    color: #222;
  }
  table th{
    background: rgba(191, 55, 105,1);
    color: #FFF;
    padding: 5px;
    font-style: italic;
  }


</style>
